global
    log /dev/log local0
    log /dev/log local1 notice
    chroot /var/lib/haproxy
    user haproxy
    group haproxy
    daemon

defaults
    log     global
    mode    tcp
    option  tcplog
    option  dontlognull
    retries 3
    timeout queue           1m
    timeout connect         10s
    timeout client          30m
    timeout server          30m
    timeout check           5s

# Panel de estadísticas web de HAProxy
listen stats
    bind 0.0.0.0:7000
    mode http
    stats enable
    stats uri /
    stats refresh 5s

# Punto de entrada único para la aplicación e IoT
frontend db2_frontend
    bind 0.0.0.0:50000
    default_backend db2_backend

# Monitoreo de salud del clúster HADR
backend db2_backend
    mode tcp
    option tcp-check
    tcp-check connect port 50000
    
    # El Nodo 1 es el principal activo, los nodos Standby entran en acción si este falla
    server dbnodo1 10.0.0.132:50000 check inter 2000 rise 2 fall 3
    server dbnodo2 10.0.0.246:50000 check inter 2000 rise 2 fall 3 backup
    server dbnodo3 10.0.0.248:50000 check inter 2000 rise 2 fall 3 backup
